/* -------1920--------- */
@media only screen and (min-width:1920px) {
  .container-fluid {
    width: 1903px;
    margin: auto;
  }
}

/* -------1400px--------- */
@media only screen and (min-width:1400px) {

  .new-pet {
    margin-right: 15%;
  }
}

@media only screen and (max-width:768px) {
  .sec-mobilelogo {
    display: block;
    width: 75%;
  }

  .sec-mobilelogo img {
    width: 90%;
    height: 53px;
  }

  .secpadlrlf {
    padding: 0px 15px;
    background: #000;
  }


  .sec-desktoplogo {
    display: none;
  }

  .header {
    display: none;
  }

  .secarrivalbg {
    padding: 40px 10px;
  }

  .secmobino {
    display: none;
  }

  .product-img img {
    width: 100%;
    height: 160px;
  }

  .product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .nav-logo {
    height: 70px;
    margin-top: 0px;
  }

  .label {
    position: static !important;
    margin: 6px;
    display: inline-block;
    padding: 3px 15px;
  }

  .car-container {
    padding: 0 15px;
  }

  .label-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .label a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
  }

  .car-container {
    margin: 0px;
    padding: 0px 11px !important;
  }

  .secbbthero a {
    padding: 5px 20px 5px 5px;
  }

  .secbbthero .secntheb2 {
    padding: 5px 20px 5px 5px;
  }

  .car-solution {
    padding: 50px 0px;

  }
  .seccarhero .owl-nav {  
      top: -215px;   
}
.seccarhero button.owl-next , .seccarhero button.owl-prev {
    font-size: 15px !important;
    padding: 4px 13px !important;
}
  .btn-buy {
    font-size: 14px;
  }

  .topon2 {
    left: 53px;
  }
    .right-controls{
    gap:14px;
  }
  .product-count{
  display: none !important;
  }
  .sort-wrap {
    display: none;
}
.products-topbar {
    padding: 50px 2px 0px 2px;
}
  .filter-sidebar , .filter-overlay{ 
    top: 78px;
  }
  .abutsecbg {
    padding: 50px 10px;
    margin-top: -3px;
}
.sectextheral {
    font-size: 50px;
}
#home-best-seller .hbs-product img {
    width: 100%;

}
#home-best-seller .hbs-product {
    padding: 13px;
}
#home-best-seller h6 {
    font-size: 16px;
}


  /* mobile grid = image left, text right */



  .hbs-product img{
    max-width:90px;
    margin:0;
  }

  .hbs-product h6,
  .hbs-product p{
    text-align:left;
  }

  /* list view mobile same */
  .secproductsbg.list-view .hbs-product{
    gap:16px;
  }
  #home-best-seller .hbs-product:hover .hbs-btns {
    max-height: 111px;
    flex-direction: column;
  }


}

/* -------992px--------- */
@media only screen and (max-width:992px) {
  .secpadlrlf {
    padding: 0px 15px;
    background: #000;
  }

  button.navbar-toggler {
    border: 2px solid #8B6A1F;
  }

  body {
    padding-top: 80px;
  }

  .navbar-toggler {
    border-color: #8B6A1F;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(139,106,31,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  /* ===== MOBILE BOTTOM FIXED NAV ===== */
  .mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 99999;
  }

  /* icons */
  .mobile-bottom-nav i {
    font-size: 20px;
    color: #000;
  }

  /* search button clean */
  .mobile-bottom-nav .btn {
    background: none;
    border: none;
    padding: 0;
  }

  /* mobile scroll progress bar */
  .header2 {
    position: absolute;
    top: -5px;
    /* ⭐ nav ke upar chipke */
    left: 0;
    width: 100%;
    z-index: 100000;
    /* ⭐ icons se upar */
  }

  .progress-container2 {
    background-color: #fff;
    height: 5px;
    width: 100%;
  }

  .progress-bar2 {
    height: 5px;
    width: 0%;
    border-radius: 10px;
    background: linear-gradient(90deg,
        #D1CDCB 0%,
        #161616 18%,
        #8b6a1f 50%,
        #e6c96a 100%);
  }

  .offcanvas-header {
    background: #000;
  }

  .navbar-nav.justify-content-center.align-items-center.flex-grow-1.pe-3 {
    align-items: flex-start !important;
  }

  .nav-link-custom {
    font-size: 28px;
    padding: 20px 20px !important;
    border-bottom: 1px solid #eee;
  }

  ul.navbar-nav.mb-2.mb-xl-0 {
    padding-top: 20px;
    padding-left: 10px;
  }
  .deal-card h5 {
    font-size: 28px;
  }
  .footer-bottom {
    flex-direction: column;
}
.footer-links h6 {
    padding-top: 40px;
}
.footer-logo {
    padding-bottom: 30px;
}
.footer-social {
    display: flex;
    justify-content: flex-start;
    gap: 18px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.footer-border {
    border: 0 !important;
}
.newsletter-text {
    padding-left: 10px;
}
.newsletter-form {
    max-width: 100%;
}


}

/* body space so content not hidden */
@media (max-width: 1199px) {
  body {
    padding-bottom: 63px;
  }
}

/* -------576px--------- */
@media only screen and (max-width: 576px) {}

/* -------480px--------- */
@media only screen and (max-width:480px) {}


