/* -------1920--------- */
@media only screen and (min-width:1920px) {
  .container-fluid {
    width: 1903px;
    margin: auto;
  }
}

/* -------1400px--------- */
@media only screen and (min-width:1400px) {

  .new-pet {
    margin-right: 15%;
  }
}

@media only screen and (max-width:768px) {
  .sec-mobilelogo {
    display: block;
    width: 75%;
  }

  .sec-mobilelogo img {
    width: 90%;
    height: 53px;
  }

  .secpadlrlf {
    padding: 0px 15px;
    background: #000;
  }


  .sec-desktoplogo {
    display: none;
  }

  .header {
    display: none;
  }

  .top-strip {
    display: none;
  }

  .nav-logo {
    height: 70px;
    margin-top: 0px;
  }

  .label {
    position: static !important;
    margin: 6px;
    display: inline-block;
        padding: 3px 15px;
  }

  .car-container {
    padding: 0 15px;
  }

  .label-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .label a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
  }

  .car-container {
    margin: 0px;
    padding: 0px 11px !important;
  }

  .secbbthero a {
          padding: 5px 20px 5px 5px;
  }

  .secbbthero .secntheb2 {
              padding: 5px 20px 5px 5px;
  }
.car-solution {
    padding: 0px 0px 80px 0px;

}
.topon2 {
    left: 53px;
}
}

/* -------992px--------- */
@media only screen and (max-width:992px) {
  .secpadlrlf {
    padding: 0px 15px;
    background: #000;
  }

  button.navbar-toggler {
    border: 2px solid #8B6A1F;
  }

  body {
    padding-top: 80px;
  }

  .navbar-toggler {
    border-color: #8B6A1F;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(139,106,31,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  /* ===== MOBILE BOTTOM FIXED NAV ===== */
  .mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 99999;
  }

  /* icons */
  .mobile-bottom-nav i {
    font-size: 20px;
    color: #000;
  }

  /* search button clean */
  .mobile-bottom-nav .btn {
    background: none;
    border: none;
    padding: 0;
  }

  /* mobile scroll progress bar */
  .header2 {
    position: absolute;
    top: -5px;
    /* ⭐ nav ke upar chipke */
    left: 0;
    width: 100%;
    z-index: 100000;
    /* ⭐ icons se upar */
  }

  .progress-container2 {
    background-color: #fff;
    height: 5px;
    width: 100%;
  }

  .progress-bar2 {
    height: 5px;
    width: 0%;
    border-radius: 10px;
    background: linear-gradient(90deg,
        #D1CDCB 0%,
        #161616 18%,
        #8b6a1f 50%,
        #e6c96a 100%);
  }

  .offcanvas-header {
    background: #000;
  }

  .navbar-nav.justify-content-center.align-items-center.flex-grow-1.pe-3 {
    align-items: flex-start !important;
  }

  .nav-link-custom {
    font-size: 28px;
    padding: 20px 20px !important;
    border-bottom: 1px solid #eee;
  }

  ul.navbar-nav.mb-2.mb-xl-0 {
    padding-top: 20px;
    padding-left: 10px;
  }
}

/* body space so content not hidden */
@media (max-width: 1199px) {
  body {
    padding-bottom: 70px;
  }
}

/* -------576px--------- */
@media only screen and (max-width: 576px) {}

/* -------480px--------- */
@media only screen and (max-width:480px) {}